<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>RidePal - Profile</title>
    <base href="/">
    <!-- Favicon -->
    <link rel="icon" href="profile/img/core-img/favicon.ico">

    <!-- Core Stylesheet -->

    <link rel="stylesheet" href="profile/style.css">
    <link rel="stylesheet" href="style.css">
    <style>
        [type=submit], button, html [type=button] {
            -webkit-appearance: button;
            background: transparent;
            border: none;
            color: white;
            font-family: "Archivo Narrow", sans-serif;
        }
        .btn {
            display: inline-block;
            font-weight: 400;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            border: 1px solid transparent;
            border-radius: 200px 200px 200px 200px;
            padding: .75rem .75rem;
            font-size: 1rem;
            line-height: 1.5;
            transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out
        }
    </style>

</head>

<body>
<!--<div id="user-image-background" th:text="'data:image/jpeg;base64,' + ${user.image}"></div>-->
<div th:replace="navbar :: navbar"></div>
<!-- ##### Hero Area Start ##### -->
<div class="hero-area bg-img clearfix" th:style="'background-image:url(data:image/jpeg;base64,' + ${user.image} +')'"  id="about">


    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 col-sm-10 col-md-8">
                <!-- Hero Content -->
                <div class="hero-content">
                    <!--                        <h5>Hello I’m</h5>-->
                    <!--                    <img id="imge" th:src="@{'data:image/jpeg;base64,' + ${user.image}}" alt=""/>-->
                    <h2 th:text="${user.name}">Maria Smith</h2>
                    <h3 th:text="${user.lastname} +' '+${user.firstName} "></h3>
                    <span ><img src="profile/img/core-img/envelope-small.png" alt=""> <a th:text="${user.email}"></a></span>
                    <!--                        <a href="#"><img src="profile/img/core-img/phone-call-small.png" alt=""> +76 6524 567862 763</a>-->
                    <!--                        <a href="#"><img src="profile/img/core-img/monitor-small.png" alt=""> www.mytemplatename.com</a>-->

                    <!--                     Contact Info -->
                    <div class="contact-info mt-30">
                        <!--                        <span ><img src="profile/img/core-img/envelope-small.png" alt=""> <a th:text="${user.email}"></a></span>-->
                        <!--                        <a href="#"><img src="profile/img/core-img/phone-call-small.png" alt=""> +76 6524 567862 763</a>-->
                        <!--                        <a href="#"><img src="profile/img/core-img/monitor-small.png" alt=""> www.mytemplatename.com</a>-->
                        <a href="#" class="btn vcard-btn contact-btn"    th:onclick="|window.location.href='/users/${id}/createdplaylists'|">Playlists</a>
                        <a href="#" class="btn vcard-btn contact-btn"    th:onclick="|window.location.href='/users/update/${id}'|">Edit Profile</a>
                        <a href="#" class="btn vcard-btn contact-btn"    th:onclick="|window.location.href='/users/delete/${id}'|">Delete Profile</a>

                    </div>
                    <!-- Social Info -->
                    <!--                    <div class="social-info mt-30">-->
                    <!--                        <a href="#" data-toggle="tooltip" data-placement="top" title="Google Plus"><i class="fa fa-google-plus" aria-hidden="true"></i></a>-->
                    <!--                        <a href="#" data-toggle="tooltip" data-placement="top" title="Pinterest"><i class="fa fa-pinterest" aria-hidden="true"></i></a>-->
                    <!--                        <a href="#" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>-->
                    <!--                        <a href="#" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>-->
                    <!--                    </div>-->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Hero Area End ##### -->


<!-- ##### All Javascript Files ##### -->
<!-- jQuery-2.2.4 js -->
<script src="js/jquery/jquery-2.2.4.min.js"></script>
<!-- Popper js -->
<script src="js/bootstrap/popper.min.js"></script>
<!-- Bootstrap js -->
<script src="js/bootstrap/bootstrap.min.js"></script>
<!-- All Plugins js -->
<script src="js/plugins/plugins.js"></script>
<!-- Active js -->
<script src="js/active.js"></script>

<!--<script>-->
<!--    document.getElementById("about").style.backgroundImage = "url('" + document.getElementById("user-image-background").textContent + "')";-->
<!--</script>-->

</body>

</html>
