<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{styles.css}" href="static/styles.css"/>
    <title>Create new beer</title>
</head>
<body>

<form action="#" th:action="@{/beers/new}" th:object="${beer}" method="post">
    <label th:text="#{beers.header.name}">Beer</label>
    <br/>
    <input type="text" th:field="*{name}"/>
    <label class="error" th:errors="*{name}" />
    <br/><br/>

    <label th:text="#{beers.header.des}">Description</label>
    <br/>
    <input type="text" th:field="*{description}"/>
    <label class="error" th:errors="*{description}" />
    <br/><br/>


    <label th:text="#{beers.header.abv}">ABV</label>
    <br/>
    <input type="text" th:field="*{abv}"/>
    <label class="error" th:errors="*{abv}" />
    <br/><br/>

    <label th:text="#{beers.header.picture}">picture</label>
    <br/>
    <input type="text" th:field="*{picture}"/>
    <label class="error" th:errors="*{picture}" />
    <br/><br/>


    <br/><br/>
    <label th:text="#{beers.header.style}">Style</label>
    <select th:field="*{styleId}">
        <option th:each="style : ${styles}"
                th:value="${style.id}"
                th:text="${style.getName()}">BeerStyleOne</option>
    </select>

    <br/><br/>
    <label th:text="#{beers.header.brewery}">Brewery</label>
    <select th:field="*{breweryId}">
        <option th:each="brewery : ${breweries}"
                th:value="${brewery.id}"
                th:text="${brewery.getName()}">BeerStyleOne</option>
    </select>


    <br/><br/>
    <label th:text="#{beers.header.tag}">Tag</label>
    <select th:field="*{tagId}">
        <option th:value="0"></option>
        <option th:each="tag : ${tags}"
                th:value="${tag.id}"
                th:text="${tag.getName()}">TagOne</option>
    </select>


    <br/><br/>
    <label th:text="#{beers.header.tag}">Tag</label>
    <select th:field="*{tagId}">
        <option th:value="0"></option>
        <option th:each="tag : ${tags}"
                th:value="${tag.id}"
                th:text="${tag.getName()}">TagOne</option>
    </select>

    <br/><br/>
    <label th:text="#{beers.header.tag}">Tag</label>
    <select th:field="*{tagId}">
        <option th:value="0"></option>
        <option th:each="tag : ${tags}"
                th:value="${tag.id}"
                th:text="${tag.getName()}">TagOne</option>
    </select>



    <input type="submit" value="Save"/>
</form>


</body>
</html>