<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!--
    Victory Template
    http://www.templatemo.com/tm-507-victory
    -->
    <title>BeerTag</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <base href="/">

    <!--    <link rel="stylesheet" href="../static/css/bootstrap.css">-->
    <link rel="stylesheet"  href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/fontAwesome.css">
    <link rel="stylesheet" href="css/hero-slider.css">
    <link rel="stylesheet" href="css/owl-carousel.css">
    <link rel="stylesheet" href="css/templatemo-style-beer.css">
    <link rel="stylesheet" href="/styles.css">




    <!--    <link rel="stylesheet" th:href="@{/bootstrap.min.css}" href="../static/css/bootstrap.min.css">-->
    <!--    <link rel="stylesheet" th:href="@{/bootstrap-theme.css}" href="../static/css/bootstrap-theme.min.css">-->
    <!--    <link rel="stylesheet" th:href="@{/fontAwesome.css}" href="../static/css/fontAwesome.css">-->
    <!--    <link rel="stylesheet" th:href="@{/hero-slider.css}" href="../static/css/hero-slider.css">-->
    <!--    <link rel="stylesheet" th:href="@{/owl-carousel.css}" href="../static/css/owl-carousel.css">-->
    <!--    <link rel="stylesheet" th:href="@{/templatemo-style.css}" href="../static/css/templatemo-style.css">-->


    <link href="https://fonts.googleapis.com/css?family=Spectral:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">

    <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
</head>

<body>

<body>
<div class="page-wrapper bg-gra-01 p-t-180 p-b-100 font-poppins">
    <div class="wrapper wrapper--w780">
        <div class="card card-3">
            <div class="card-heading"></div>
            <div class="card-body">
                <p>
                    <i th:if="${error != null}" th:text="${error}" class="error"></i>
                </p>
                <h2 class="title">Create new beer</h2>
                <form action="#" th:action="@{/beers/new}" th:object="${beer}" method="post">
                    <div class="input-group">
                        <input class="input--style-3" type="text" placeholder="Name" th:field="*{name}">
                        <label class="error" th:bgcolor="yellowgreen" th:errors="*{name}" />
                    </div>
                    <div class="input-group">
                        <input class="input--style-3" type="text" placeholder="Description"  th:field="*{description}">
                        <label class="error" th:bgcolor="yellowgreen" th:errors="*{description}" />
                    </div>
                    <div class="input-group">
                        <input class="input--style-3 js-datepicker" type="text" placeholder="ABV" th:field="*{abv}">
                        <label class="error" th:bgcolor="yellowgreen" th:errors="*{abv}" />
                        <i class="zmdi zmdi-calendar-note input-icon js-btn-calendar"></i>
                    </div>
                    <div class="input-group">
                        <input class="input--style-3" type="text" placeholder="Picture" th:field="*{picture}">
                        <label class="error" th:bgcolor="yellowgreen" th:errors="*{picture}" />
                    </div>
                    <div class="input-group">
                        <select th:field="*{styleId}" th:bgcolor="white">
                            <option th:each="style : ${styles}"
                                    th:value="${style.id}"
                                    th:text="${style.getName()}">BeerStyleOne</option>
                        </select>
                    </div>
                    <div class="input-group">
                        <select th:field="*{breweryId}">
                            <option th:each="brewery : ${breweries}"
                                    th:value="${brewery.id}"
                                    th:text="${brewery.getName()}">BeerStyleOne</option>
                        </select>
                    </div>
                    <div class="input-group">
                        <select th:field="*{tagId}">
                            <option th:value="0"></option>
                            <option th:each="tag : ${tags}"
                                    th:value="${tag.id}"
                                    th:text="${tag.getName()}">TagOne</option>
                        </select>
                    </div>
                    <div class="input-group">
                        <select th:field="*{tagId}">
                            <option th:value="0"></option>
                            <option th:each="tag : ${tags}"
                                    th:value="${tag.id}"
                                    th:text="${tag.getName()}">TagOne</option>
                        </select>
                    </div>
                    <div class="input-group">
                        <select th:field="*{tagId}">
                            <option th:value="0"></option>
                            <option th:each="tag : ${tags}"
                                    th:value="${tag.id}"
                                    th:text="${tag.getName()}">TagOne</option>
                        </select>
                    </div>

                    <div class="p-t-10">
                        <button class="btn btn--pill btn--green" type="submit">Save</button>
                    </div>
            </div>
            </form>
        </div>
    </div>
</div>
</div>

<!-- Jquery JS-->
<script src="vendor/jquery/jquery.min.js"></script>
<!-- Vendor JS-->
<script src="vendor/select2/select2.min.js"></script>
<script src="vendor/datepicker/moment.min.js"></script>
<script src="vendor/datepicker/daterangepicker.js"></script>

<!-- Main JS-->
<script src="js/global.js"></script>

</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>
<!-- end document-->
