<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Colorlib Templates">
    <meta name="author" content="Colorlib">
    <meta name="keywords" content="Colorlib Templates">

    <!-- Title Page-->
    <title>Beer Details</title>

    <!-- Icons font CSS-->
    <link href="vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Vendor CSS-->
    <link href="vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <!--    <link href="css/register.css" rel="stylesheet" media="all">-->
    <link rel="stylesheet" th:href="@{/beerid.css}" href="../static/beerid.css">
    <!--    <link th:href="@{../css/register.css}" rel="stylesheet">-->

    <!--    <link rel="stylesheet" type="text/css" media="all"-->
    <!--          href="../../css/register.css" th:href="@{/css/register.css}" />-->
</head>

<body>
<div class="page-wrapper bg-gra-01 p-t-180 p-b-100 font-poppins">
    <div class="wrapper wrapper--w780">
        <div class="card card-3">
            <div class="card-heading"></div>
            <div class="card-body">
                <p>
                    <i th:if="${error != null}" th:text="${error}" class="error"></i>
                </p>
                <div  th:each="beer : ${beer}">
                <h2 class="title"th:text="${beer.name}">Beer</h2>

<!--                    <h2> <div  style="color:yellowgreen" th:text="${beer.name}">Beer</div></h2>-->
                    <img th:src="${beer.picture.url}" height="300" width="300" />
                    <h6> <div style="color:yellowgreen"  th:text="ABV+':'+${beer.abv}">4.5</div></h6>
                    <p> <div style="color:yellowgreen" th:text="Style+':'+${beer.style.name}">Style</div></p>
                    <p> <div style="color:yellowgreen" th:text="Description+':'+${beer.description}">Description</div></p>
                    <p> <div style="color:yellowgreen" th:text="Brewery+':'+${beer.brewery.name}">Brewery</div></p>
                    <p> <div style="color:yellowgreen" th:text="Country+':'+${beer.brewery.country.name}">Country</div></p>
                    <p> <div style="color:yellowgreen" th:text="Rating+':'+${beer.rating}">Rating</div></p>
                    <p> <div style="color:yellowgreen" th:text="Tags+':'+${beer.tags}">Tags</div></p>
                    <button class="primary-white-button" style="background-color: yellowgreen" th:onclick="|window.location.href='/beers/update/${beer.id}'|">Update Beer</button>

                    <button class="primary-white-button" style="background-color: yellowgreen" th:onclick="|window.location.href='/beers/delete/${beer.id}'|">Delete Beer</button>
                    <button class="primary-white-button" style="background-color: yellowgreen" th:onclick="|window.location.href='/beers/rate/${beer.id}'|">Rate Beer</button>
                    <button class="primary-white-button" style="background-color: yellowgreen" th:onclick="|window.location.href='/${beer.id}/wishbeer'|">Add to wishlist</button>
                    <button class="primary-white-button" style="background-color: yellowgreen" th:onclick="|window.location.href='/${beer.id}/drankbeer'|">Add to drinklist</button>

                </div>
        </div>
    </div>
</div>

<!-- Jquery JS-->
<script src="vendor/jquery/jquery.min.js"></script>
<!-- Vendor JS-->
<script src="vendor/select2/select2.min.js"></script>
<script src="vendor/datepicker/moment.min.js"></script>
<script src="vendor/datepicker/daterangepicker.js"></script>

<!-- Main JS-->
<script src="js/global.js"></script>

</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>
<!-- end document-->
