<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!--
    Victory Template
    http://www.templatemo.com/tm-507-victory
    -->
    <title>BeerTag</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <base href="/">

    <!--    <link rel="stylesheet" href="../static/css/bootstrap.css">-->
    <link rel="stylesheet"  href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/fontAwesome.css">
    <link rel="stylesheet" href="css/hero-slider.css">
    <link rel="stylesheet" href="css/owl-carousel.css">
    <link rel="stylesheet" href="css/templatemo-style.css">
    <link rel="stylesheet" href="/styles.css">




    <!--    <link rel="stylesheet" th:href="@{/bootstrap.min.css}" href="../static/css/bootstrap.min.css">-->
    <!--    <link rel="stylesheet" th:href="@{/bootstrap-theme.css}" href="../static/css/bootstrap-theme.min.css">-->
    <!--    <link rel="stylesheet" th:href="@{/fontAwesome.css}" href="../static/css/fontAwesome.css">-->
    <!--    <link rel="stylesheet" th:href="@{/hero-slider.css}" href="../static/css/hero-slider.css">-->
    <!--    <link rel="stylesheet" th:href="@{/owl-carousel.css}" href="../static/css/owl-carousel.css">-->
    <!--    <link rel="stylesheet" th:href="@{/templatemo-style.css}" href="../static/css/templatemo-style.css">-->


    <link href="https://fonts.googleapis.com/css?family=Spectral:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">

    <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
</head>

<body>

<body>
<div class="header">
    <div class="container">
        <nav class="navbar navbar-inverse" role="navigation">
            <div class="navbar-header">
                <button type="button" id="nav-toggle" class="navbar-toggle" data-toggle="collapse"
                        data-target="#main-nav">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!--/.navbar-header-->
            <div id="main-nav" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/beers">★BeerTag</a></li>
                    <li><a href="/beers/myBeers" sec:authorize="isAuthenticated()">Created beers</a></li>
                    <li><a href="/beers/new" sec:authorize="isAuthenticated()">Create new beer</a></li>
<!--                    <li><a href="/users/myProfile">Account</a></li>-->
                    <li><a th:object="${user}" sec:authorize="isAuthenticated()" th:onclick="|window.location.href='/users/${user.getId()}'|">
                        Account
                    </a></li>
                   <li><a>
                       <form th:action="@{/index}" sec:authorize="!isAuthenticated()" method="get">
                           <input type="submit" value="LOGIN"/>
                       </form>

                       <form th:action="@{/logout}" sec:authorize="isAuthenticated()" method="post">
                           <input type="submit" value="LOGOUT"/>
                       </form>
                   </form></a></li>
                </ul>
            </div>
            <!--/.navbar-collapse-->
        </nav>
        <!--/.navbar-->
    </div>
    <!--/.container-->
</div>
<!--/.header-->


<section class="beer-heading">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>My Created Beers</h1>
                <p></p>
            </div>
        </div>
    </div>
</section>


<section class="featured-food">
    <div class="container">
        <div class="row">
            <div class="heading">
            </div>
        </div>

        <div class="grid-container">
            <div th:each="beer : ${beerPage.content}">
                <div class="grid-item">
                    <div class="col-md-4">
                        <div class="food-item">
                            <h2>
                                <div th:text="${beer.name}">Beer</div>
                            </h2>
                            <img th:src="${beer.picture.url}" height="300" width="300"/>
                            <h6><br style=“line-height:100;”>
                                <br style=“line-height:100;”>
                                <br style=“line-height:100;”>
                                <br style=“line-height:100;”>
                            </h6>
                            <h6>
                                <div th:text="ABV+':'+${beer.abv}">4.5</div>
                            </h6>
                            <p>
                            <div th:text="Style+':'+${beer.style.name}">Style</div>
                            </p>
                            <button class="primary-white-button"
                                    th:onclick="|window.location.href='/beers/${beer.getId()}'|">
                                More Info
                            </button>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!--- Pagination --->
        <nav id="pagination-nav" aria-label="Page navigation">
            <ul class="pagination">
                <li th:if="${beerPage.totalPages > 0}"
                    class="page-item"
                    th:each="pageNumber : ${pageNumbers}">
                    <a id="pagination" class="page-link" th:href="@{/beers(size=${beerPage.size}, page=${pageNumber})}"
                       th:text="${pageNumber}"
                       th:class="${pageNumber==beerPage.number + 1} ? active"/>
                </li>
            </ul>
        </nav>

</body>

</body>
</html>