<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!--
    Victory Template
    http://www.templatemo.com/tm-507-victory
    -->
    <title>Dranklist</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <base href="/">

    <!--    <link rel="stylesheet" href="../static/css/bootstrap.css">-->
    <link rel="stylesheet"  href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/fontAwesome.css">
    <link rel="stylesheet" href="css/hero-slider.css">
    <link rel="stylesheet" href="css/owl-carousel.css">
    <link rel="stylesheet" href="css/templatemo-style.css">
    <link rel="stylesheet" href="/styles.css">




    <!--    <link rel="stylesheet" th:href="@{/bootstrap.min.css}" href="../static/css/bootstrap.min.css">-->
    <!--    <link rel="stylesheet" th:href="@{/bootstrap-theme.css}" href="../static/css/bootstrap-theme.min.css">-->
    <!--    <link rel="stylesheet" th:href="@{/fontAwesome.css}" href="../static/css/fontAwesome.css">-->
    <!--    <link rel="stylesheet" th:href="@{/hero-slider.css}" href="../static/css/hero-slider.css">-->
    <!--    <link rel="stylesheet" th:href="@{/owl-carousel.css}" href="../static/css/owl-carousel.css">-->
    <!--    <link rel="stylesheet" th:href="@{/templatemo-style.css}" href="../static/css/templatemo-style.css">-->


    <link href="https://fonts.googleapis.com/css?family=Spectral:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">

    <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
</head>

<body>

<body>
<!--<div class="header">-->
<!--    <div class="container">-->
<!--        <nav class="navbar navbar-inverse" role="navigation">-->
<!--            <div class="navbar-header">-->
<!--                <button type="button" id="nav-toggle" class="navbar-toggle" data-toggle="collapse"-->
<!--                        data-target="#main-nav">-->
<!--                    <span class="sr-only">Toggle navigation</span>-->
<!--                    <span class="icon-bar"></span>-->
<!--                </button>-->
<!--            </div>-->
<!--            &lt;!&ndash;/.navbar-header&ndash;&gt;-->
<!--            <div id="main-nav" class="collapse navbar-collapse">-->
<!--                <ul class="nav navbar-nav">-->
<!--                    <li><a href="/index">★BeerTag</a></li>-->
<!--                    <li><a href="/beers">Beers</a></li>-->
<!--                    <li><a href="/beers/new" sec:authorize="isAuthenticated()">★Create new beer★</a></li>-->
<!--                </ul>-->
<!--            </div>-->
<!--            &lt;!&ndash;/.navbar-collapse&ndash;&gt;-->
<!--        </nav>-->
<!--        &lt;!&ndash;/.navbar&ndash;&gt;-->
<!--    </div>-->
<!--    &lt;!&ndash;/.container&ndash;&gt;-->
<!--</div>-->
<!--&lt;!&ndash;/.header&ndash;&gt;-->
<section class="beer-heading">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Dranklist</h1>
                <p>Done.</p>
            </div>
        </div>
    </div>
</section>


<section class="featured-foodd">
    <div class="container">
        <div class="row">
            <div class="heading">
            </div>
        </div>


        <div class="grid-container">
            <div th:each="user : ${user}">
                <div class="grid-item">
                    <div class="col-md-4">
                        <div class="food-item">
                                <h2>
                                    <div th:text="${user.name}">Beer</div>
                                </h2>
                                <img th:src="${user.picture.url}" height="300" width="300"/>
                                <h6>
                                    <div th:text="ABV+':'+${user.abv}">4.5</div>
                                </h6>
                                <p>
                                <div th:text="Style+':'+${user.style.name}">Style</div>
                                </p>
                                <button class="primary-white-button"
                                        th:onclick="|window.location.href='/beers/${user.getId()}'|">
                                    More Info
                                </button>
                            </div>
                            <!--                            <h2>-->
                            <!--                                <div th:text="${user.dranklist}">wishlist</div>-->
                            <!--                            </h2>-->
                            <!--                            <img th:src="${beer.picture.url}" height="300" width="300"/>-->
                            <!--                            <h6>-->
                            <!--                                <div th:text="ABV+':'+${beer.abv}">4.5</div>-->
                            <!--                            </h6>-->
                            <!--                            <p>-->
                            <!--                            <div th:text="Style+':'+${beer.style.name}">Style</div>-->
                            <!--                            </p>-->
                            <!--                            <button class="primary-white-button"-->
                            <!--&lt;!&ndash;                                    th:onclick="|window.location.href='/beers/${beer.getId()}'|">&ndash;&gt;-->
                            <!--&lt;!&ndash;                                More Info&ndash;&gt;-->
                            <!--                            </button>-->
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!--        &lt;!&ndash;- Pagination -&ndash;&gt;-->
        <!--        <nav id="pagination-nav" aria-label="Page navigation">-->
        <!--            <ul class="pagination">-->
        <!--                <li th:if="${beerPage.totalPages > 0}"-->
        <!--                    class="page-item"-->
        <!--                    th:each="pageNumber : ${pageNumbers}">-->
        <!--                    <a id="pagination" class="page-link" th:href="@{/beers(size=${beerPage.size}, page=${pageNumber})}"-->
        <!--                       th:text="${pageNumber}"-->
        <!--                       th:class="${pageNumber==beerPage.number + 1} ? active"/>-->
        <!--                </li>-->
        <!--            </ul>-->
        <!--        </nav>-->

</body>

</body>
</html>