<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Colorlib Templates">
    <meta name="author" content="Colorlib">
    <meta name="keywords" content="Colorlib Templates">

    <!-- Title Page-->
    <title>Register</title>

    <!-- Icons font CSS-->
    <link href="vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Vendor CSS-->
    <link href="vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <!--    <link href="css/register.css" rel="stylesheet" media="all">-->
    <link rel="stylesheet" th:href="@{/ratebeer.css}" href="../static/ratebeer.css">
    <!--    <link th:href="@{../css/register.css}" rel="stylesheet">-->

    <!--    <link rel="stylesheet" type="text/css" media="all"-->
    <!--          href="../../css/register.css" th:href="@{/css/register.css}" />-->
</head>

<body>
<div class="page-wrapper bg-gra-01 p-t-180 p-b-100 font-poppins">
    <div class="wrapper wrapper--w780">
        <div class="card card-3">
            <div class="card-heading"></div>
            <div class="card-body">
                <div class="modal-body">

                    <div class="container mx-auto w-100 ">
                        <h2 th:bgcolor="yellowgreen">Give your rating</h2>
                        <hr>
                        <form th:with="rateBeer = ${'/beers/rate/' + beer.getId()}"
                              th:action="${rateBeer}" th:object="${newRating}" th:method="post">
                            <div class="form-group">
                                <h5 th:bgcolor="yellowgreen" th:text="${beer.name}"></h5>
                            </div>

                            <div class="form-group" id="rating-ability-wrapper">
                                <label class="control-label" for="rating2">
                                    <span class="field-label-header">Rate the beer that you've tasted!</span><br>
                                    <span class="field-label-info"></span>
                                    <input type="hidden" id="selected_rating" name="selected_rating" value="" required="required">
                                </label>
                                <fieldset class="rating">
                                    <input type="radio" id="star5" name="rating" value="5" th:field="*{rating}" /><label for="star5" title="Best Beer Ever!">5 stars</label>
                                    <input type="radio" id="star4" name="rating" value="4" th:field="*{rating}"/><label for="star4" title="Amazing">4 stars</label>
                                    <input type="radio" id="star3" name="rating" value="3" th:field="*{rating}" /><label for="star3" title="Would Drink Again">3 stars</label>
                                    <input type="radio" id="star2" name="rating" value="2" th:field="*{rating}"/><label for="star2" title="Would not Drink Again">2 stars</label>
                                    <input type="radio" id="star1" name="rating" value="1" th:field="*{rating}"/><label for="star1" title="Tasting this beer makes me go sober.">1 star</label>
                                </fieldset>
                            </div>


                            <button th:type="submit" class="btn btn-primary w-100" th:bgcolor="black" >Rate Beer</button>
                        </form>
                    </div>
                    <!--                    <div class="p-t-10">-->
                    <!--                        <button class="btn btn&#45;&#45;pill btn&#45;&#45;green" type="submit" href="/beers">Continue as guest</button>-->
            </div>
        </div>
    </div>
</div>

<!-- Jquery JS-->
<script src="vendor/jquery/jquery.min.js"></script>
<!-- Vendor JS-->
<script src="vendor/select2/select2.min.js"></script>
<script src="vendor/datepicker/moment.min.js"></script>
<script src="vendor/datepicker/daterangepicker.js"></script>

<!-- Main JS-->
<script src="js/global.js"></script>

</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>
<!-- end document-->
