<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->

<!--<head>-->
<!--    &lt;!&ndash; Required meta tags&ndash;&gt;-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->
<!--    <meta name="description" content="Colorlib Templates">-->
<!--    <meta name="author" content="Colorlib">-->
<!--    <meta name="keywords" content="Colorlib Templates">-->

<!--    &lt;!&ndash; Title Page&ndash;&gt;-->
<!--    <title>Register</title>-->

<!--    &lt;!&ndash; Icons font CSS&ndash;&gt;-->
<!--    <link href="vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">-->
<!--    <link href="vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">-->
<!--    &lt;!&ndash; Font special for pages&ndash;&gt;-->
<!--    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">-->

<!--    &lt;!&ndash; Vendor CSS&ndash;&gt;-->
<!--    <link href="vendor/select2/select2.min.css" rel="stylesheet" media="all">-->
<!--    <link href="vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">-->

<!--    &lt;!&ndash; Main CSS&ndash;&gt;-->
<!--&lt;!&ndash;    <link href="css/register.css" rel="stylesheet" media="all">&ndash;&gt;-->
<!--    <link rel="stylesheet" th:href="@{/register.css}" href="../static/register.css">-->
<!--&lt;!&ndash;    <link th:href="@{../css/register.css}" rel="stylesheet">&ndash;&gt;-->

<!--&lt;!&ndash;    <link rel="stylesheet" type="text/css" media="all"&ndash;&gt;-->
<!--&lt;!&ndash;          href="../../css/register.css" th:href="@{/css/register.css}" />&ndash;&gt;-->
<!--</head>-->

<!--<body>-->
<!--<div class="page-wrapper bg-gra-01 p-t-180 p-b-100 font-poppins">-->
<!--    <div class="wrapper wrapper&#45;&#45;w780">-->
<!--        <div class="card card-3">-->
<!--            <div class="card-heading"></div>-->
<!--            <div class="card-body">-->
<!--                <h2 class="title">Registration Info</h2>-->
<!--                <form action="#" th:action="@{/register}" th:object="${userDto}" method="POST">-->
<!--                    <div class="input-group">-->
<!--                        <input class="input&#45;&#45;style-3" type="text" placeholder="Username" th:field="*{name}">-->
<!--                    </div>-->
<!--                    <div class="input-group">-->
<!--                        <input class="input&#45;&#45;style-3" type="text" placeholder="First Name" th:field="*{firstName}">-->
<!--                    </div>-->
<!--                    <div class="input-group">-->
<!--                        <input class="input&#45;&#45;style-3 js-datepicker" type="text" placeholder="Last Name" th:field="*{lastName}">-->
<!--                        <i class="zmdi zmdi-calendar-note input-icon js-btn-calendar"></i>-->
<!--                    </div>-->
<!--                    <div class="input-group">-->
<!--                        <input class="input&#45;&#45;style-3" type="password" placeholder="Password" th:field="*{password}">-->
<!--                        <label class="error" th:errors="*{password}" />-->
<!--                    </div>-->
<!--                    <div class="input-group">-->
<!--                        <input class="input&#45;&#45;style-3" type="password" placeholder="Confirm Password" th:field="*{passwordConfirmation}">-->
<!--                    </div>-->
<!--                    <div class="input-group">-->
<!--                        <input class="input&#45;&#45;style-3" type="email" placeholder="Email" th:field="*{email}">-->
<!--                    </div>-->

<!--                    <div class="p-t-10">-->
<!--                        <button class="btn btn&#45;&#45;pill btn&#45;&#45;green" type="submit">Submit</button>-->
<!--                    </div>-->
<!--                </form>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!--&lt;!&ndash; Jquery JS&ndash;&gt;-->
<!--<script src="vendor/jquery/jquery.min.js"></script>-->
<!--&lt;!&ndash; Vendor JS&ndash;&gt;-->
<!--<script src="vendor/select2/select2.min.js"></script>-->
<!--<script src="vendor/datepicker/moment.min.js"></script>-->
<!--<script src="vendor/datepicker/daterangepicker.js"></script>-->

<!--&lt;!&ndash; Main JS&ndash;&gt;-->
<!--<script src="js/global.js"></script>-->

<!--</body>&lt;!&ndash; This templates was made by Colorlib (https://colorlib.com) &ndash;&gt;-->

<!--</html>-->
<!--&lt;!&ndash; end document&ndash;&gt;-->