<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Colorlib Templates">
    <meta name="author" content="Colorlib">
    <meta name="keywords" content="Colorlib Templates">

    <!-- Title Page-->
    <title>Register</title>

    <!-- Icons font CSS-->
    <link href="vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Vendor CSS-->
    <link href="vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <!--    <link href="css/register.css" rel="stylesheet" media="all">-->
    <link rel="stylesheet" th:href="@{/register.css}" href="../static/register.css">
    <!--    <link th:href="@{../css/register.css}" rel="stylesheet">-->

    <!--    <link rel="stylesheet" type="text/css" media="all"-->
    <!--          href="../../css/register.css" th:href="@{/css/register.css}" />-->
</head>

<body>
<div class="page-wrapper bg-gra-01 p-t-180 p-b-100 font-poppins">
    <div class="wrapper wrapper--w780">
        <div class="card card-3">
            <div class="card-heading"></div>
            <div class="card-body">
                <p>
                    <i th:if="${error != null}" th:text="${error}" class="error"></i>
                </p>
                <h2 class="title">Registration Info</h2>
                <form action="#" th:action="@{/register}" th:object="${userDto}" method="POST">
                    <div class="input-group">
                        <input class="input--style-3" type="text" placeholder="Username" th:field="*{name}">
                        <label class="error" th:errors="*{name}" />
                    </div>
                    <div class="input-group">
                        <input class="input--style-3" type="text" placeholder="First Name" th:field="*{firstName}">
                    </div>
                    <div class="input-group">
                        <input class="input--style-3 js-datepicker" type="text" placeholder="Last Name" th:field="*{lastName}">
                        <i class="zmdi zmdi-calendar-note input-icon js-btn-calendar"></i>
                    </div>
                    <div class="input-group">
                        <input class="input--style-3" type="password" placeholder="Password" th:field="*{password}">
                        <label class="error" th:errors="*{password}" />
                    </div>
                    <div class="input-group">
                        <input class="input--style-3" type="password" placeholder="Confirm Password" th:field="*{passwordConfirmation}">
                    </div>
                    <div class="input-group">
                        <input class="input--style-3" type="text" placeholder="Picture" th:field="*{picture}">
                    </div>
                    <div class="input-group">
                        <input class="input--style-3" type="email" placeholder="Email" th:field="*{email}">
                        <label class="error" th:errors="*{email}" />
                    </div>

                    <div class="p-t-10">
                        <button class="btn btn--pill btn--green" type="submit">Submit</button>
                    </div>
<!--                    <div class="p-t-10">-->
<!--                        <button class="btn btn&#45;&#45;pill btn&#45;&#45;green" type="submit" href="/beers">Continue as guest</button>-->
<!--                    </div>-->
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Jquery JS-->
<script src="vendor/jquery/jquery.min.js"></script>
<!-- Vendor JS-->
<script src="vendor/select2/select2.min.js"></script>
<script src="vendor/datepicker/moment.min.js"></script>
<script src="vendor/datepicker/daterangepicker.js"></script>

<!-- Main JS-->
<script src="js/global.js"></script>

</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>
<!-- end document-->
