<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!--
    Victory Template
    http://www.templatemo.com/tm-507-victory
    -->
    <title>BeerTag</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <base href="/">

    <!--    <link rel="stylesheet" href="../static/css/bootstrap.css">-->
    <link rel="stylesheet"  href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/fontAwesome.css">
    <link rel="stylesheet" href="css/hero-slider.css">
    <link rel="stylesheet" href="css/owl-carousel.css">
    <link rel="stylesheet" href="css/templatemo-style-user.css">
    <link rel="stylesheet" href="/styles.css">




    <!--    <link rel="stylesheet" th:href="@{/bootstrap.min.css}" href="../static/css/bootstrap.min.css">-->
    <!--    <link rel="stylesheet" th:href="@{/bootstrap-theme.css}" href="../static/css/bootstrap-theme.min.css">-->
    <!--    <link rel="stylesheet" th:href="@{/fontAwesome.css}" href="../static/css/fontAwesome.css">-->
    <!--    <link rel="stylesheet" th:href="@{/hero-slider.css}" href="../static/css/hero-slider.css">-->
    <!--    <link rel="stylesheet" th:href="@{/owl-carousel.css}" href="../static/css/owl-carousel.css">-->
    <!--    <link rel="stylesheet" th:href="@{/templatemo-style.css}" href="../static/css/templatemo-style.css">-->


    <link href="https://fonts.googleapis.com/css?family=Spectral:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">

    <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
</head>

<body>

<body>
<div class="header">
    <div class="container">
        <nav class="navbar navbar-inverse" role="navigation">
            <div class="navbar-header">
                <button type="button" id="nav-toggle" class="navbar-toggle" data-toggle="collapse"
                        data-target="#main-nav">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!--/.navbar-header-->
            <div id="main-nav" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/beers">★BeerTag</a></li>
                    <li><a href="/beers/myBeers" sec:authorize="isAuthenticated()">Created beers</a></li>
                    <li><a href="/beers/new" sec:authorize="isAuthenticated()">Create new beer</a></li>
                    <!--                    <li><a href="/users/myProfile">Account</a></li>-->
                    <li><a th:object="${user}" sec:authorize="isAuthenticated()" th:onclick="|window.location.href='/users/${user.getId()}'|">
                        Account
                    </a></li>
                    <li><a>
                        <form th:action="@{/index}" sec:authorize="!isAuthenticated()" method="get">
                            <input type="submit" value="LOGIN"/>
                        </form>

                        <form th:action="@{/logout}" sec:authorize="isAuthenticated()" method="post">
                            <input type="submit" value="LOGOUT"/>
                        </form>
                        </form></a></li>
                </ul>
            </div>
            <!--/.navbar-collapse-->
        </nav>
        <!--/.navbar-->
    </div>
    <!--/.container-->
</div>
<!--/.header-->
<div class="page-wrapper bg-gra-01 p-t-180 p-b-100 font-poppins">
    <div class="wrapper wrapper--w780">
        <div class="card card-3">
<!--            <div class="card-heading"></div>-->
            <div class="card-body">
                <p>
                    <i th:if="${error != null}" th:text="${error}" class="error"></i>
                </p>
                <h2 class="title" th:text="${user.name}">User</h2>
                <img th:src="${user.picture.url}" height="300" width="300" />
                    <h6> <div style="color:black"  th:text="${user.firstName}">First Name</div></h6>
                    <h6> <div style="color:black" th:text="${user.lastname}">Last Name</div></h6>
                    <h6> <div style="color:black" th:text="${user.email}">Email</div></h6>

                <div class="p-t-10">
                    <button class="btn btn--pill btn--green">
                       <a href="/users/myProfile/wishlist">Wishlist</a>
                    </button>
                </div>
                <div class="p-t-10">
                    <button class="btn btn--pill btn--green">
                        <a href="/users/myProfile/dranklist">Dranklist</a>
                    </button>
                </div>
                <div class="p-t-10">
                    <button class="btn btn--pill btn--green">
                        <a href="/users/myProfile/topthreebeers">Top three</a>
                    </button>
                </div>
                <div class="p-t-10">
                    <button class="btn btn--pill btn--green"
                        th:onclick="|window.location.href='/users/update/${id}'|">Update Profile
                    </button>
                </div>
<!--                <button class="primary-white-button" style="background-color: yellowgreen" th:onclick="|window.location.href='/users/update/${id}'|">Update User</button>-->


                <!--                    <p> <div style="color:yellowgreen" th:text="Brewery+':'+${beer.brewery.name}">Brewery</div></p>-->
<!--                    <p> <div style="color:yellowgreen" th:text="Country+':'+${beer.brewery.country.name}">Country</div></p>-->
<!--                    <p> <div style="color:yellowgreen" th:text="Rating+':'+${beer.rating}">Rating</div></p>-->
<!--                    <p> <div style="color:yellowgreen" th:text="Tags+':'+${beer.tags}">Tags</div></p>-->
<!--                <h2 class="title"th:text="${beer.name}">Beer</h2>-->

                <!--                    <h2> <div  style="color:yellowgreen" th:text="${beer.name}">Beer</div></h2>-->
<!--                <img th:src="${beer.picture.url}" height="300" width="300" />-->
<!--                <h6> <div style="color:yellowgreen"  th:text="ABV+':'+${beer.abv}">4.5</div></h6>-->
<!--                <p> <div style="color:yellowgreen" th:text="Style+':'+${beer.style.name}">Style</div></p>-->
<!--                <p> <div style="color:yellowgreen" th:text="Description+':'+${beer.description}">Description</div></p>-->
<!--                <p> <div style="color:yellowgreen" th:text="Brewery+':'+${beer.brewery.name}">Brewery</div></p>-->
<!--                <p> <div style="color:yellowgreen" th:text="Country+':'+${beer.brewery.country.name}">Country</div></p>-->
<!--                <p> <div style="color:yellowgreen" th:text="Rating+':'+${beer.rating}">Rating</div></p>-->
<!--                <p> <div style="color:yellowgreen" th:text="Tags+':'+${beer.tags}">Tags</div></p>-->

                </div>
            </div>
        </div>
    </div>

    <!-- Jquery JS-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <!-- Vendor JS-->
    <script src="vendor/select2/select2.min.js"></script>
    <script src="vendor/datepicker/moment.min.js"></script>
    <script src="vendor/datepicker/daterangepicker.js"></script>

    <!-- Main JS-->
    <script src="js/global.js"></script>

</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>
<!-- end document-->
