<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Colorlib Templates">
    <meta name="author" content="Colorlib">
    <meta name="keywords" content="Colorlib Templates">

    <!-- Title Page-->
    <title>Update Beer</title>

    <!-- Icons font CSS-->
    <link href="vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Vendor CSS-->
    <link href="vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <!--    <link href="css/register.css" rel="stylesheet" media="all">-->
    <link rel="stylesheet" th:href="@{/register.css}" href="../static/register.css">
    <!--    <link th:href="@{../css/register.css}" rel="stylesheet">-->

    <!--    <link rel="stylesheet" type="text/css" media="all"-->
    <!--          href="../../css/register.css" th:href="@{/css/register.css}" />-->
</head>

<body>
<div class="page-wrapper bg-gra-01 p-t-180 p-b-100 font-poppins">
    <div class="wrapper wrapper--w780">
        <div class="card card-3">
            <div class="card-heading"></div>
            <div class="card-body">
                <p>
                    <i th:if="${error != null}" th:text="${error}" class="error"></i>
                </p>
                <h2 class="title">Update User Info</h2>
                <form action="#" th:action="@{/users/update/__${username.id}__}"  th:object="${userDto}" method="post">

                    <div class="input-group">
                        <input class="input--style-3" type="text" placeholder="FirstName"  th:field="*{firstName}">
                        <label class="error" th:bgcolor="yellowgreen" th:errors="*{firstName}" />
                    </div>
                    <div class="input-group">
                        <input class="input--style-3 js-datepicker" type="text" placeholder="LastName" th:field="*{lastName}">
                        <label class="error" th:bgcolor="yellowgreen" th:errors="*{lastName}" />
                        <i class="zmdi zmdi-calendar-note input-icon js-btn-calendar"></i>
                    </div>
                    <div class="input-group">
                        <input class="input--style-3 js-datepicker" type="text" placeholder="email" th:field="*{email}">
                        <label class="error" th:bgcolor="yellowgreen" th:errors="*{email}" />
                        <i class="zmdi zmdi-calendar-note input-icon js-btn-calendar"></i>
                    </div>
                    <div class="input-group">
                        <input class="input--style-3" type="text" placeholder="Picture" th:field="*{picture}">
                        <label class="error" th:bgcolor="yellowgreen" th:errors="*{picture}" />
                    </div>

                    <div class="p-t-10">
                        <button class="btn btn--pill btn--green" type="submit">Save</button>
                    </div>
            </div>
            </form>
        </div>
    </div>
</div>
</div>

<!-- Jquery JS-->
<script src="vendor/jquery/jquery.min.js"></script>
<!-- Vendor JS-->
<script src="vendor/select2/select2.min.js"></script>
<script src="vendor/datepicker/moment.min.js"></script>
<script src="vendor/datepicker/daterangepicker.js"></script>

<!-- Main JS-->
<script src="js/global.js"></script>

</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>
<!-- end document-->
