/*.table {*/
/*    display:table;*/
/*}*/
/*.header {*/
/*    display:table-header-group;*/
/*    font-weight:bold;*/
/*}*/
/*.rowGroup {*/
/*    display:table-row-group;*/
/*}*/
/*.row {*/
/*    display:table-row;*/
/*}*/
/*.cell {*/
/*    display:table-cell;*/
/*    width:25%;*/
/*}*/
/*.error {*/
/*    color: red;*/
/*}*/

/*#pagination {*/
/*    color: black;*/
/*    float: left;*/
/*    padding: 8px 16px;*/
/*    text-decoration: none;*/
/*    transition: background-color .3s;*/
/*    border: 1px solid #ddd;*/
/*}*/

/*#pagination.active {*/
/*    background-color: #f28705;*/
/*    color: white;*/
/*    border: 1px solid #f28705;*/
/*}*/

/*#pagination:hover:not(.active) {*/
/*    background-color: #ddd;*/
/*}*/

/*#pagination-nav {*/
/*    background-color: #ffffff !important;*/
/*    padding-top: 15px;*/
/*    padding-bottom: 15px;*/
/*    margin-bottom: 0 !important;*/

/*}*/